html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", "Helvetica", sans-serif;
        /*overflow-x: hidden;*/
    color: #121212;
    transition: 0.5s;
    max-width: 100vw;
}

a{
    color: #5a5a5a;
}

header{
    position: fixed;
    box-sizing: border-box;
    padding: 5px 15px;
    height: 3.75rem;
    margin: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 5;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 25px;
    transition: 1s;
    opacity: 0;
    vertical-align: middle;
}

nav a{
    display: inline-block;
    color: #121212;
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color: #1f1f1f10;
}
#button_group{
    width: 100px;
    padding: 0;
    margin: 5px 10px;
    display: flex;
    justify-content: space-evenly;
}

nav{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

#contact_bt{
    border: 1px solid black;
}

header button{
    border: none;
    background: none;
    width: 1.8rem;
    height:1.8rem;
    padding: 0;
    cursor: pointer;
}

header button:hover{
    border-radius: 50%;
    background-color: #1f1f1f10;
}

.icon{
    height: 1.8rem;
    width: 1.8rem;
    vertical-align: middle;
}

.large_icon{
    height: 3.5rem;
    width: 3.5rem;
    vertical-align: middle;
}
.light{
    display: none;
}

.circle{
    border-radius: 50%;
}

.popup{
    position: fixed;
    float: right;
    right: 15px;
    top: 10%;
    background-color: #ffffffee;
    color: #121212;
    border-radius: 10px;
    padding: 15px;
    transition: 5s;
}

#lang_overlay{
    width: 80%;
    max-width: 170px;
    height: 40%;
    max-height: 100px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding-left: 30px;
}
#lang_overlay a{
    text-decoration: none;
    color: #121212;
}
#lang_overlay img{
    max-width: 20px;
    padding-right: 5px;
}
p{
    max-width: 100%;
}
.wcontainer{
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.half_container{
    width: 50%;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 0;
    transition: 0.5s;
}

footer{
    background: #0e0e0e;
    position: relative;
    color: white;
    padding: 0.5em 3em;
}
footer > p{
    text-align: center;
}
#top_button{
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: right;
    position: absolute;
    right: 3rem;
    top: 2rem;
}


.photo_overlap_3{
   display: block;
    height: 200px;
    padding: 20px;
}

.photo_overlap_3 img{
    position: absolute;
    left: 50%;
    width: 200px;
}

.photo_overlap_3 img:first-child{
    transform: translateX(-100%);
    z-index: 3;
}
.photo_overlap_3 img:nth-child(2){
    transform: translateX(-50%);
    z-index: 2;
}

.photo_overlap_3 img:last-child{
    opacity: 50%;
    z-index: 1;
}

.banner{
    background-image: url("../img/banner-bg-light.jpg");
    background-position: top;
    background-size: cover;
    height: 15rem ;
    position: relative;
    width: 100%;
}
.banner h1{
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 3.5rem;
}
.pattern{
    background: url("../img/double-bubble-outline.webp");
    background-repeat: repeat;
}

#hamburger_menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#hamburger_menu nav{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#hamburger_menu a{
    margin: 1rem;
    padding: 0;
}

#hamburger_bt{
    display: none;
}

#close_menu{
    float: left;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: block;
    width: 4rem;
    height: 4rem;

}

#hamburger_menu button:hover{
    background-color: none;
}
/*=========================[ F O R M ]============================*/
form, .wrapper{
    background-color: white;
    padding: 1rem 2rem;
    margin: 0;
    width: 35rem;
    max-width: 90%;
    box-sizing: border-box;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 0;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
    background-color: #00000000;
}

input[type=text]:focus, textarea:focus {
    border: 0;
}

input[type=text]::placeholder, textarea::placeholder{
    font-family: "Century Gothic", Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #8e8e8e;
    opacity: 0.8;
}

button[name=submit]{
    width: 8rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    background-color: #85ffc3;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}

button[name=submit]:hover {
    background-color: #75e1ac;
}

button[name=submit] img{
    width: 1.5rem;
    height: 1.5rem;
}



/*=========================[ D A R K   M O D E ]============================*/
@media (prefers-color-scheme: dark) {
    .darkmode {
        background-color: #121212;
        color: #ffffff;
    }

    .darkmode a {
        color: #d3d3d3;
    }

    .darkmode nav a {
        color: white;
    }

    .darkmode nav a:hover,  .darkmode #button_group button:hover{
        background-color: #ffffff10;
    }

    .darkmode .banner{
        background-image: url("../img/banner-bg-dark.jpg");
    }

    .darkmode .dark {
        display: none;
    }

    .darkmode .light {
        display: inline-block;
    }

    .darkmode #contact_bt {
        border-color: #ffffff;
    }

    .darkmode .pattern{
        background: url("../img/double-bubble-dark.webp");
    }

    .darkmode form, .darkmode .wrapper {
        background-color: rgba(61, 61, 61, 0.67);
    }

    .darkmode #hamburger_menu {
        background-color: #121212;
        color: #ffffff;
    }
    .darkmode #hamburger_menu button{
        color: #ffffff;
    }



}

/*====================================================[ RESPONSIVE ]==============================*/

@media only screen and (orientation: portrait) {
    html{
        font-size: 25px;
    }

    #hamburger_bt{
        display: inline-block;
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
    }
    #hamburger_bt img, #close_menu img{
        width: 3.5rem;
        height: 3.5rem;
    }

    header > nav{
        display: none;
        width: auto;
    }

    nav a, nav button, nav span{
        width: auto;
        height: 3rem;
        margin: 1rem;
    }
    nav a{
        font-size: 3.75rem;
    }
    nav button, #lang{
        font-size: 2rem;
        font-weight: normal;
    }

    nav img{
        vertical-align: center;
    }
    .icon{
        height: 2.5rem;
        width: 2.5rem;
    }

    #logo{
        font-size: 2.75rem;
    }

    header{
        height: 6rem;
    }

}
@media only screen and (max-width: 90vh) {
    .wcontainer{
        flex-direction: column;
        height: auto;!important;
    }
    .half_container{
        max-height: 70%;
        min-height: 40%;
        width: 100%;
        padding: 1.5rem 0;
    }
    form, .wrapper{
        margin: 0.5rem 1.5rem;
    }
}
